form{
    display: flex;
    flex-direction: column;
}

.formTotal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 50px;
}

.formTotal > h1{
    margin-bottom: 15px;
}
section{
    width: 500px;
    background-color: #cda8af;
    padding:20px 30px 30px 30px;
    border-radius: 40px;
}
label{
    font-size: large;
    padding:10px 0 10px 0;
}

#name,
#email{
    display: flex;
    flex-direction: column;
    height: 30px;
    background-color: #5e5052;
    color: white;
    border: none;
    width: 100%;
    
}

#message{
    background-color: #5e5052;
    color: white;
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.boton-submit{
    width: 100%;
    margin-top: 10px;
    background-color: #5e5052;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
    color: white;
    font-size: medium;
    padding: 5px 0 5px 0;
}

@media (max-width: 700px) {
    .formTotal{
        width:20%
    }
}

@media (max-width: 500px){
    .formTotal > h1 {
        font-size: 22px;
    }
    section{
        width: 70vw;
    }

}

