.cover-container{
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Roboto', sans-serif;
}

.video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.textoCover{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.textoCover > p {
    margin-top: 10px;
    color: white;
    font-size: 40px;
}

.textoCover > h1{
    color: white;
    font-size: 50px;
}